
/* =========================================================
 * tabdrop.scss
 * =========================================================
 * Copyright 2018 Tim Töws
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================= */


.tab-wrapper { position: relative; }

.nav-tabs, .nav-pills { position: relative;
	.nav-item { margin-right: 5px; }
	.nav-link { text-decoration: none; background-color: #ddd; }
	.tab-drop { margin-right: 0; position: absolute !important; right: 0; }
}

.nav-tabs + .tab-content { background-color: #fff; border: 1px solid #dee2e6; border-radius: 0 0 .2rem .2rem; border-width: 0 1px 1px; padding: .7rem 1.3rem; }
